.marquee {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .marquee-content {
    display: flex;
    animation: marquee 20s linear infinite; /* Infinite animation */
    animation-play-state: running; /* Default running state */
  }
  
  .marquee:hover .marquee-content {
    animation-play-state: paused; /* Pause the animation on hover */
  }
  
  .marquee-item {
    flex-shrink: 0;
    width: 200px; /* Set your desired width */
    height: 150px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    font-size: 20px;
    transition: transform 0.4s ease, filter 0.4s ease;
  }
  
  .marquee:hover .marquee-item {
    filter: blur(4px);
    transform: scale(0.9);
  }
  
  .marquee .marquee-item:hover {
    filter: none;
    transform: scale(1.2);
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  