
.home-page{
    width: 90%; 
    background: var(--light-bg);
    color: var(--dark-bg);
    transition: var(--transition);
    padding: 0;
    overflow:auto;
    padding: 25px;
}
.hide{
  display: none;
}
.show{
  display: block;
}
/* horizental nav */
.navbar{
    border-bottom: 1px groove var(--neon-yellow);
    margin-bottom: 20px;
    color: var(--neon-yellow);
}

  
@media (max-width: 950px) {
    
    
    .theme-toggle {
    margin: 130px 0;
    }
    .shoppingCard{
      width: 100%;
    }
   
}
/* header */
.header{
    width: 50%;
    margin: auto;
}

@media (max-width: 759px){
.shoppingCard{
    width: 100%;
}
}

 /* modal theme */
 .modal-content {
    background-color: var(--dark-bg);
    color: var(--neon-yellow);
    border: 1px solid var(--neon-yellow);
  }
  

  .form-control{
    color: var(--neon-yellow);
  }