:root {
    --dark-bg: #0a0a0a;
    --light-bg: white;
    --neon-yellow: #249f0c;
    --neon-shadow: 0 0 15px #45ad06;
    --text-color:var(--neon-yellow);
    --transition: all 0.3s ease;
    --small-bg: linear-gradient( 135deg, #70F570 10%, #49C628 100%);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'El Messiri', sans-serif;
  }
  .navbar-brand{
    color: var(--neon-yellow);
}
  body {
    color: var(--neon-yellow);
    overflow: auto;
    transition: var(--transition);
  }
  .nav-link{
    color: var(--neon-yellow);
  }
  